.navbar{
    background: #04091e;
}
.navbar-brand,.navbar-brand:hover{
    color:white;
}
.container{
    text-align:center;
}
.top{
    margin-top: 80px;
}
.card{
    height: 50%;
    width: 50%;
    margin-top: 80px;
    margin-left: 250px;
}
.error{
    color: red;
}