table, th, td {
  padding: 5px;
    border: 1px solid black;
  }

  
.valid,.valid:focus {
  border: 1px solid green;
} 
.invalid,.invalid:focus {
  border: 1px solid red;
}
.error{
  color: red;
}
.success{
  color: green;
}